# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Specific files from the CMake build system
CMakeCache.txt
CMakeFiles
.cmake
build

# Specific files from the ninja build system

build.ninja
.ninja*

bin/Fajnanse
bin/Fajnanse.exe
bin/Fajnanse.pdb
bin/imgui.ini
imgui.ini
